ErrorDocument 403 /forbidden.html
ErrorDocument 404 /notfound.html

RewriteEngine On

RewriteCond %{REQUEST_URI} \.json$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?bess\.guru\.ksz\.ch/ [NC]
RewriteRule .* /forbidden.html [R=403,L]
